:root
{
    --Pink: #e38773;
    --Black: #252525;
}

header
{
    background: url("images/chan-bg.png") no-repeat;
    min-height: 600px;
    background-size: cover; /* Hình ảnh hiển thị đủ trong vùng mong muốn */
    background-position: center; /* căn ảnh đúng vị trí chính giữa */
}

footer
{
    background: url(images/footer-bg.png);
}

.btn-primary
{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--Pink);
    font-weight: 700;
    height: 2rem;
    width: 7rem;
    margin: 0;
    padding: 3px;
}

.btn-secondary
{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--Black);
    font-weight: 700;
    height: 2rem;
    width: 7rem;
    margin: 0 0 0 20px;
    padding: 3px;
}

.btn-outline-primary
{
    border-color: var(--Pink);
    color: var(--Pink);
    font-weight: bold;
}

#cau3
{
    min-height: 600px;
}

#cau3 img
{
    position: absolute;
    top: 0;
    right: 0;
    height: 420px;
    width: 680px;
}

#cau3 form
{
    position: absolute;
    top: 1rem;
    left: 0;
    width: 50%;
    border-color: var(--Pink);
}

.form-control
{
    border-color: var(--Pink) !important;
}